# Node modules (Root + Studio)
node_modules/
studio/node_modules/

# Env files
.env*
studio/.env*

# Sanity local cache/build
studio/.sanity/local
studio/.sanity/cache
studio/.sanity/build

# Next.js build output
.next/

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS-Files
.DS_Store
Thumbs.db
